<div class="container w-full h-full flex flex-col">
  <div class="view-note-header">
    <div class="page-title text-center text-2xl font-medium text-white">
      {{noteId ? 'Edit' : 'Add'}} note
    </div>
    <div class="actions flex flex-row gap-2">
      <button matTooltip="Edit the note" mat-mini-fab color="accent" (click)="validate()">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
  <div [formGroup]="noteFormGroup!">
    <div class="view-note-body p-9 flex flex-col gap-3">
      <div class="w-full mb-2">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Title</mat-label>
          <textarea matInput placeholder="Title" formControlName="title"></textarea>
          <mat-error *ngIf="noteFormGroup?.get('title')?.errors && !noteFormGroup?.get('title')?.value">
            Required field
          </mat-error>
          <mat-error *ngIf="noteFormGroup?.get('title')?.errors && noteFormGroup?.get('title')?.value">
            Max length must be 255
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-full mb-2">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Content</mat-label>
          <textarea matInput placeholder="Content" formControlName="content" rows="20"></textarea>
          <mat-error *ngIf="noteFormGroup?.get('content')?.errors && !noteFormGroup?.get('content')?.value">
            Required field
          </mat-error>
          <mat-error *ngIf="noteFormGroup?.get('content')?.errors && noteFormGroup?.get('content')?.value">
            Max length must be 1500
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>