<div class="container w-full h-full flex flex-col">
  <div class="view-note-header">
    <div class="page-title text-center text-2xl font-medium text-white">
      View note
    </div>
    <div class="actions flex flex-row gap-2">
      <button matTooltip="Edit the note" mat-mini-fab color="accent" (click)="editNote(note.id)">
        <mat-icon>edit</mat-icon> 
      </button>
      <button matTooltip="Delete the note" mat-mini-fab color="accent" (click)="deleteNote(note)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="view-note-body p-9 flex flex-col gap-3">
    <div class="note-infos  flex flex-rox justify-between items-center text-xs text-gray-400 px-3">
      <span>Created: {{note.creationDate | date:'short'}}</span>
      <span>Updated: {{note.updateDate | date:'short'}}</span>
    </div>
    <div class="note-title border-2 rounded-lg text-xl font-medium p-5">
      {{note.title}}
    </div>
    <div class="note-description border-2 rounded-lg text-sm font-normal p-5">
      {{note.content}}
    </div>

  </div>
</div>