.left-panel {
    @apply h-full w-1/3 max-w-4xl shadow-2xl resize-x overflow-auto;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    min-width: 350px;
}
    
.right-panel {
    @apply h-full w-full;
}

.panel-heading{
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}
.panel-body{
    max-height: calc(100% - 200px);
}
.note-item{
    background-color: #eebdf373;
}
.active-note{
    background-color: darken($color: (#eebdf373), $amount: 100);
}