<div class="content-around h-full w-full flex flex-row">
    <div class="panal left-panel divide-y-2 border-r-1">
        <div class="panel-heading flex flex-col items-center justify-center gap-1">
            <div>
                <img [src]="user.imageUrl" alt="user-picture" class="rounded-full aspect-square
                 border-2 border-white object-cover" height="100" width="100">
            </div>
            <div class="hello-msg text-white ">
                Hello,
                <span class="font-semibold">{{user.firstname}} {{user.lastname}}</span>.
            </div>
            <div class="actions p-3 gap-5 flex flex-row justify-between items-center">
                <button matTooltip="Add new note" mat-mini-fab color="accent" (click)="addNewNote()">
                    <mat-icon>add</mat-icon>
                </button>
                <button matTooltip="Refresh notes" mat-mini-fab color="accent" (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button matTooltip="Search notes" mat-mini-fab color="accent" (click)="toggleSearchField()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>

        <div class="panel-body flex content flex-col justify-center items-center overflow-hidden">
            <div class="search-section px-4 w-full" *ngIf="showDivider">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search by title" (input)="searchNotes()"
                    [formControl]="searchNotesControl">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div *ngIf="filtredNotes.length else noNotes;" class="px-4 pt-4 text-white w-full overflow-y-auto overflow-x-hidden">
                <div *ngFor="let note of filtredNotes"
                    class="note-item w-full cursor-pointer
                    flex flex-col p-2 border-b-2 rounded-md m-1"
                    [ngClass]="{'active-note': note.id === selectedNoteId}"
                    (click)="selectNote(note)">
                    <div class="note-tite truncate 
                    text-base font-medium 
                    text-justify capitalize ">
                        {{note.title}}
                    </div>
                    <div 
                    class="note-date flex flex-row justify-between font-thin text-xs">
                    <span *ngIf="note.saveDate">
                        <mat-icon class="text-sm">save</mat-icon>
                    </span>
                    <span></span>
                    {{note.creationDate | date:'short'}}
                    </div>
                </div>
            </div>
            <ng-template #noNotes>
                <div class="text-center text-lg font-medium text-white mt-4">
                    No data
                </div>
            </ng-template>
        </div>
    </div>
    <div class="panel right-panel">
       <router-outlet></router-outlet>
    </div>